.Main {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}
.Btc-spinner {
  height: 25vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .Btc-spinner {
    animation: Btc-spinner infinite 20s linear;
  }
}
@keyframes Btc-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
